@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    text-align: center;
    background: #ffe9ec;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.display {
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
}

.cta-1 {
    font-size: 15px;
    line-height: 22px;
}

.cta-2 {
    font-size: 12px;
    line-height: 22px;
}


h1 {
    font-size: 30px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 40px;
}

h2 {
    font-size: 22px;
    line-height: 28px;
}

.body-1 {
    font-size: 16px;
    line-height: 22px;
}

.body-2 {
    font-size: 14px;
    line-height: 20px;
}

.note {
    font-size: 12px;
    line-height: 16px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
